.clickable {
  cursor: pointer;
}

.ellipsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.width30percent {
  width: 30%;
}

.width10percent {
  width: 10%;
}

.marginedTop {
  margin-top: 20px;
}